body {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
main {
  padding: 20px;
}
.gantt {
  display: flex;
  width: 100%;
}
.gantt > .freeze-left {
  flex: 0 0 300px;
  margin-right: 10px;
}
.gantt > .scrollable {
  flex: 1 1 1px;
  overflow-x: scroll;
}
.project {
  margin: 5px 0;
  white-space: nowrap;
}
.project-name {
  width: 300px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
}
.day,
.day-header {
  display: inline-block;
  height: 1em;
  vertical-align: middle;
  width: 16px;
  margin: 0 1px 0 0;
  text-align: center;
}
.day-header {
  font-size: 11px;
}
.day {
  background-color: #f2f2f2;
}
.day.weekend {
  background-color: #fafafa;
}
.day.filled {
  background-color: #4489ba;
}
.day.weekend.filled {
}
.day.filled.start {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}
.day.filled.end {
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
