<div class="projects__page">
  <div class="freeze-left">
    <div class="project">
      <span class="project-name"></span>
    </div>
    <div class="project" ng-repeat="project in projects">
      <span class="project-name">{{ project.name }}</span>
    </div>
  </div>

  <div class="scrollable">
    <div class="project">
      <span class="day-header" ng-repeat="day in calendar track by $index">{{ day.day }}</span>
    </div>
    <div class="project" ng-repeat="project in projects">
      <span class="day" ng-repeat="day in calendar track by $index" ng-class="{ filled: project.startDateIndex <= $index && $index <= project.endDateIndex, start: project.startDateIndex == $index, end: project.endDateIndex == $index, weekend: day.isWeekend }"></span>
    </div>
  </div>
</div>
